body {
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Raleway', sans-serif;
}

h2,
h3 {
	a {
		color: var(--white);
	}
}

div.rc {
	h2,
	h3,
	a {
		color: var(--orange);
	}
}

.hero--content figure {
	max-width: 500px;
	margin: 0 auto;
}
